################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FootballDojo/bin/Debug/net8.0
/.vs/FootballDojo
/FootballDojo/obj
/FootballDojo-ui/node_modules
/FootballDojo/Global/Constants.cs
/FootballDojo-ui/.vs
/.vs/ProjectEvaluation
/FootballDojo/wwwroot
/FootballDojo-ui/dist
/FootballDojo/Properties/launchSettings.json
/FootballDojo-ui/.env.development