################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FootballDojo/bin/Debug/net8.0
/.vs/FootballDojo
/FootballDojo/obj
/FootballDojo-ui/node_modules
/FootballDojo/Global/KeyConstants.cs
/FootballDojo-ui/.vs
/.vs/ProjectEvaluation
